<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<title>Here I Am</title>

<th:block th:replace="fragment/config :: configFragment"></th:block>


</head>

<body>


	<div id="wrapper">
		<th:block th:replace="fragment/sidebar :: sidebarFragment"></th:block>
		<div id="content-wrapper" class="d-flex flex-column">

			<th:block th:replace="fragment/header :: headerFragment"></th:block>
			<th:block layout:fragment="content"></th:block>

		</div>
	</div>

	<th:block th:replace="fragment/footer :: footerFragment">
	</th:block>

	<script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>

</html>