<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Sidebar -->
<ul th:fragment="sidebarFragment"
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled"
	id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a
		class="sidebar-brand d-flex align-items-center justify-content-center"
		th:href="@{home}">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">
			Here I Am <sup></sup>
		</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item"><a class="nav-link" th:href="@{home}"> <i
			class="fas fa-fw fa-tachometer-alt"></i> <span>Home</span>
	</a></li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">그룹</div>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item"><a class="nav-link" th:href="@{recruit}">
			<i class="fas fa-fw fa-cog"></i> <span>모집하기</span>
	</a></li>

	<li class="nav-item"><a class="nav-link" th:href="@{search}">
			<i class="fas fa-fw fa-wrench"></i> <span>검색하기</span>
	</a></li>
	<!-- Divider -->
	<hr class="sidebar-divider">
	<!-- Heading -->
	<div class="sidebar-heading">개인</div>
	
	<li class="nav-item"><a class="nav-link" th:href="@{myroom}"><i
			class="fas fa-fw fa-folder"></i> <span>내 방으로 이동</span></a></li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>


</ul>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</html>
