<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/defaultLayout">

<div layout:fragment="content">

	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<!-- Nested Row within Card Body -->
			<div class="row">
				<div class="col-lg-12">
					<div class="p-5">
						<div th:if="${error} == 'belongtoRoom'"
							class="alert alert-danger alert-dismissable text-left"
							id="emailErr">
							<button aria-hidden="true" data-dismiss="alert" class="close"
								type="button">×</button>
							소속된 방을 나간 후 진행해 주세요.
						</div>

						<form class="user" th:action="@{recruit}" th:object="${room}"
							method="post" name="form" onsubmit="return roomNullCheck()">

							<div class="form-group">
								<h6>방 제목</h6>
								<input type="text" class="form-control form-control-user"
									id="exampleFirstName" placeholder="이름" th:field="*{name}"
									name="name">
							</div>

							<hr>
							<div class="form-group">
								<h6>비밀번호</h6>
								<input type="password" class="form-control form-control-user"
									id="exampleInputPassword" placeholder="Password"
									th:field="*{pw}" name="pw">
							</div>


							<hr>


							<input type="submit" value="등록하기"
								class="btn btn-primary btn-user btn-block">
							<hr>
						</form>
						<hr>

					</div>
				</div>
			</div>
		</div>

	</div>

	<script th:src="@{/js/recruit.js}"></script>
</div>
</html>